asgiref==3.8.1
Babel==2.15.0
Django==5.1.10
django-jazzmin==3.0.1
django-stubs==5.0.2
django-stubs-ext==5.0.2
django-types==0.19.1
pillow==10.4.0
psycopg==3.1.19
sqlparse==0.5.0
types-psycopg2==2.9.21.20240417
types-PyYAML==6.0.12.20240311
typing_extensions==4.12.1
